@if (sudokuFetch !== null){
  @if (sudokuFetch.loading){
    <app-loading/>
  }
  @else if (sudokuFetch.error) {
    <div class="column">
      <p>There was an error loading the game.</p>
      <button class="button" (click)="newGame($event)">Try again</button>
    </div>
  }
  @else {
    <div class="button-group row vertical-center">
      @if (!showResetButtonRow){
        <button class="button" (click)="showResetButtonRow = !showResetButtonRow">Neustart</button>
        <button class="button" (click)="newGame($event)">Neues Spiel</button>
      }

      @if(showResetButtonRow){
        <span>Wirklich neustarten?</span>
        <button class="button" (click)="reset($event); showResetButtonRow = !showResetButtonRow;">Ja</button>
        <button class="button" (click)="showResetButtonRow = !showResetButtonRow">Nein</button>
      }
    </div>
    <app-sudoku-grid/>
    <app-number-selector/>
  }
}
