@if({
  selectedCell: gameService.selectedCell$ | async,
  sudoku: gameService.sudoku$| async
}; as asyncData){
  <div class="column center">
    <div class="row center numbers-row">
      @for(number of firstRow; track number) {
        <app-sudoku-cell
          [cellNumber]="number"
          [selected]="isSelected(number, asyncData.selectedCell)"
          [marked]="false"
          [invalid]="false"
          [numberFinished]="gameService.numberFinished(number)"
          (click)="onClick(number, asyncData.selectedCell)"/>
      }
    </div>
    <div class="row center numbers-row">
      @for(number of secondRow; track number) {
        <app-sudoku-cell
          [cellNumber]="number"
          [selected]="isSelected(number, asyncData.selectedCell)"
          [marked]="false"
          [invalid]="false"
          [numberFinished]="gameService.numberFinished(number)"
          (click)="onClick(number, asyncData.selectedCell)"/>
      }
    </div>
  </div>
}
